{% extends 'base.html' %}


{% block title %}Lista Empleados{% endblock title %}



{% block content %}

{% include 'header.html' %}

<div class="grid-container">
    <div class="grid-x">
        <h1 class="cell">Lista Administración Empleados</h1>
        <div class="cell">
            <table>
                <thead>
                    <tr>
                        <th width="100">ID</th>
                        <th width="150">NOMBRES</th>
                        <th width="150">APELLIDOS</th>
                        <th width="150">DEPARTAMENTO</th>
                        <th width="150"></th>



                    </tr>
                </thead>
                <tbody>
                    {% for worker in workers %}

                    <tr>
                        <td>{{worker.id}}</td>
                        <td>{{worker.first_name}}</td>
                        <td>{{worker.last_name}}</td>
                        <td>{{worker.departamento}}</td>
                        <td><a class="button success" href="{% url 'app_persona:updateWorker' worker.id%}">Editar</a>
                            <a class="button alert" href="{% url 'app_persona:deleteWorker' worker.id%}">Eliminar</a>

                        </td>
                        


                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>

    </div>
</div>



</div>
{% endblock content %}